@font-face{
    font-family: Neutraface;
    src: url(../fonts/Neutraface.otf);
}

.button {
    background-color: #9F63DF;
    color: white;
    display: block;
    height: 50px;
    margin: 10px auto;
    width: 160px;
    border-width: 0px;
}

.name{
    font-weight: 100;
    font-size: 60pt;
    margin: 0 auto;
}

#headerLogo {
    width: 220px;
}

.title{
    font-size: 30pt;
    margin: 0 auto;
}

.subtitle {
    font-size: 18pt;
    margin: 0 auto;
}

#backgroundImage{
    height:100vh;
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -101;
    
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    
}

header{
    height: 100vh;
    font-family: Neutraface;
    text-align: center;
    box-shadow: 0px 12px 10px rgba(0,0,0,0.2);
}

.green {
    background-color: #7ACF38;
}

.introWrapper{
    color: white;
    background-color: rgba(0,0,0,0.6);
    height:100%;
    width: 100%;
}

#intro{
    margin: 25vh auto;
}


p{
    font-size: 16pt;
}

body{
    font-family: 'Sahitya', serif;
}

h1, h2, h3, h4, h5{
    font-family: Neutraface;
}

#blogArticles {
    width: 100%;
}

section {
    padding: 100px 0px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

section article {
    display: inline;
    max-width: 400px;
}

section article h1 {
    text-align: center;
}

section article p {
    font-size: 18px;
    text-align: justify;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 20px;
    color: black;
}

.socialIcon {
    color: black;
    margin-right: 6px;
}

.socialIcons {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-size: 26px;
}

.contactInfo {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 16px;
}

.contactInfo li {
    display: block;
}

.myContentSection {
    background-color: #DFDFDF;
}

@media screen and (max-width: 900px) {
    
#intro{
    margin: 10vh auto;
}
section {
    display: block;
}

section article {
    display: block;
    max-width: 800px;
    width: 90%;
    margin: 0px auto 60px;
}
}